body {
	min-height: 100vh; 
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	/*background-color:rgb(240,240,240);*/
	padding-left: 20px;
}

h1 {

   font-size: xx-large;
   font-weight: 700;
   color: #4A73FF;
}

main {
	align-self: center;
    flex: 1 0 auto;  /* the sticky footer trick without the footer */
    padding-top: 20px;
}

#search_by {
	font-size: xx-large;
	font-weight: 300;
	margin-left: 0px;
}	

.main_inputs {
	display: flex;
	flex-direction: row;
}

.subtitle {
	font-size: x-large;
	color: #4A73FF;
	font-weight: 300;
}

.main_inputs div {
	margin-top: -50px;
	padding-right: 25px;
}

input {
	border-width: 1.6px;
	border-color: #4A73FF;
	height: 40px;
	width: 280px;
	border-style: solid;
	border-radius: 10px;
	font-size: x-large;
	font-weight: 300;
}

.or {
	align-self: center;
	font-size: x-large;
	font-weight: 700;
	color: #4A73FF;
	margin-top: 35px;
	margin-left: -10px;
	margin-right: 15px;
}

#button_central {
	text-align: center;
	margin: 50px;
}

#searchbutton {
	background-color: #4A73FF;
    font-size: large;
    font-weight: 300;
    color: #FFFFFF;
  	border: 0;
    border-radius: 10px;
    height: 40px;
    width: 110px;
}

#bookDisplay {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#bookDisplay p {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
	text-overflow: ellipsis;

}

.each_Div {
	background-color: white;
	border: 1px;
	color: black;
	width: 500px;
	height: 500px;
	margin: 10px;
}

.each_Title {
	font-weight: 700;
	font-size: 25px;
}

#overlay{
	position:fixed;
	width:100%;
	height:100%;
	z-index:2;
	background-color:rgba(0,0,0,0.5);
	display:none;
	align-items:center;
	flex-direction:column;
}

#overlayInner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#overlayInner p {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
	text-overflow: ellipsis;

}

#close{
	position:absolute;
	top:10px;
	right:10px;
}

#keep{
    background-color: #4F84EE;
    font-size: 15px;
    border: 0;
    border-radius: 7px;
    margin-top: 3px;
    height: 30px;
    width: 80px;
    color: white;
}

#emptyMessage{
	color:white;
	border: 1px;
	width: 500px;
	height: 300px;
	text-align:center;
}

@media screen and (max-width:480px) {

	header {
	   align-self: center;
	}

	.main_inputs {
		display: flex;
		flex-direction: column;
		align-self: center;
	}

	.main_inputs div {
		margin-top: -50px;
		margin-bottom: -20px;
	}

	main {
		padding-left: 50px;
	}


	input {
		border-width: 2px;
		border-color: #4A73FF;
		height: 40px;
		width: 300px;
		border-style: solid;
		border-radius: 10px;
		font-size: x-large;
		font-weight: 300;
		margin-top: -20px;
		margin-bottom: 10px;
	}

	.or {
		align-self: center;
		font-size: x-large;
		font-weight: 700;
		color: #4A73FF;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-left: -50px;

	}

	#button_central {
		text-align: center;
		margin-left: 0px;
	}

	#searchbutton {
		background-color: #4A73FF;
	    font-size: large;
	    font-weight: 300;
	    color: #FFFFFF;
	  	border: 0;
	    border-radius: 10px;
	    height: 40px;
	    width: 300px;
	}

}

@media screen and (min-width:481px) {

}

